body {
	color:white;
	margin:0px;
	font-size:20px;
	background-color:#A52A2A;
  border:1px solid black;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  padding:30px;
}

h1 {
	font-family:Helvetica;
	text-align:center;
	color:white;
}

h2 {
	color:white;
  text-align: center;
}

h3 {
	color:gray;
	font-size: 200%;
}

nav {
	text-align:center;
	color:black;
  font-size:120%;
}

a {
	color:white;
}

p {
	color:white;
	font-size:120%;
	text-align: left;
  margin:15px;
}

footer {
	text-align:center;
  margin-bottom:10px;
  margin-top:50px;
}

li {
	color:white;
  text-size: 110%;
  text-align: center;
}
ul {
  text-align:center;
  margin-left:200px;
  margin-right:200px;
}

.textWrap{
   float:left;
   margin: 20px;          
        }

